<div class="main-grid-view-row is-desktop-hidden">
  <div class="grid-view-changer grid-view-first-column-mobile">
    <svg fill="#000000" version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="25px" height="25px" viewBox="0 0 35 35" xml:space="preserve"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <g> <g> <path d="M0,0v35h35V0H0z M33,33H2V2h31V33z"></path> <rect x="4.5" y="4.5" width="26" height="26"></rect> </g> </g> </g></svg>
  </div>
   <div class="grid-view-changer grid-view-second-column-mobile active">
   <svg fill="#000000" version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="25px" height="25px" viewBox="0 0 35 35" xml:space="preserve"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <g> <g> <path d="M0,0v35h35V0H0z M33,33H2V2h31V33z"></path> <rect x="4.5" y="4.5" width="11.5" height="26"></rect> <rect x="19" y="4.5" width="11.5" height="26"></rect> </g> </g> </g></svg>
  </div>
</div>